<div class="container">

  <div class="cards">
      <% @cars.each do |car| %>
        <div class="card-car">
          <%= image_tag car.photo_url %>
          <div class="card-car-infos">
            <div>
              <h2><%= link_to "#{car.brand} #{car.model}", car_path(car) %></h2>
              <p>Localisation : <%= car.address %></p>
            </div>
            <h2 class="card-car-pricing"><p>Prix : <%= car.price %> €/jour</p></h2>
          </div>
        </div>
      <% end %>
  </div>

      <%= link_to "Ajouter une voiture", new_car_path, class: "btn btn-primary" %>

  
</div>
